In [ ]:

insert into `world` (`nation`, `lang`, `money`, `population`)
values
('Republic of America', 'English', 'dollar', 500),
('England of United Kingdom', 'English', 'found', 50),
('Spain', 'Spanish', 'euro', 40),
('Thailand', 'Thailian', 'bat', 200);

In [2]:
text = \
'''제주도	63002 ~ 63644
제주도 섬지역	63000 ~ 63001
경기 안산시 풍도 섬지역	15654
인천 강화 섬지역	23008 ~ 23010
인천 옹진 섬지역1	23100 ~ 23116
인천 옹진 섬지역2	23124 ~ 23136
충남 태안 섬지역	32133
충남 보령 섬지역	33411
경북 울릉도 전지역	40200 ~ 40240
경남 사천 섬지역	52570 ~ 52571
경남 통영 섬지역1	53031 ~ 53033
경남 통영 섬지역2	53088 ~ 53104
전북 군산시 옥도면 섬지역	54000
전북 부안 섬지역	56347 ~ 56349
전남 영광 섬지역	57068 ~ 57069
전남 목포 섬지역	58760 ~ 58761
전남 신안 섬지역1	58800 ~ 58804
전남 신안 섬지역2	58809 ~ 58810
전남 신안 섬지역3	58816 ~ 58818
전남 신안 섬지역4	58826
전남 신안 섬지역5	58832
전남 신안 섬지역6	58839 ~ 58841
전남 신안 섬지역7	58843 ~ 58866
전남 진도 섬지역	58953 ~ 58958
전남 완도 섬지역1	59102 ~ 59103
전남 완도 섬지역2	59127
전남 완도 섬지역3	59137 ~ 59145
전남 완도 섬지역4	59149 ~ 59170
전남 보성군 벌교읍 섬지역	59421
전남 고흥군 섬지역1	59531
전남 고흥군 섬지역2	59551
전남 고흥군 섬지역3	59563
전남 고흥군 섬지역4	59568
전남 여수시 섬지역1	59650
전남 여수시 섬지역2	59766
전남 여수시 섬지역3	59781 ~ 59790'''

In [3]:
values = list(map(lambda x: x.split('\t'), text.split('\n')))
values = list(map(lambda x: [x[0], x[1].split(' ~ ')] ,values))
values = list(map(lambda x: [x[0], [x[1][0],x[1][0]] if len(x[1]) == 1 else x[1] ] ,values))
values

[['제주도', ['63002', '63644']],
 ['제주도 섬지역', ['63000', '63001']],
 ['경기 안산시 풍도 섬지역', ['15654', '15654']],
 ['인천 강화 섬지역', ['23008', '23010']],
 ['인천 옹진 섬지역1', ['23100', '23116']],
 ['인천 옹진 섬지역2', ['23124', '23136']],
 ['충남 태안 섬지역', ['32133', '32133']],
 ['충남 보령 섬지역', ['33411', '33411']],
 ['경북 울릉도 전지역', ['40200', '40240']],
 ['경남 사천 섬지역', ['52570', '52571']],
 ['경남 통영 섬지역1', ['53031', '53033']],
 ['경남 통영 섬지역2', ['53088', '53104']],
 ['전북 군산시 옥도면 섬지역', ['54000', '54000']],
 ['전북 부안 섬지역', ['56347', '56349']],
 ['전남 영광 섬지역', ['57068', '57069']],
 ['전남 목포 섬지역', ['58760', '58761']],
 ['전남 신안 섬지역1', ['58800', '58804']],
 ['전남 신안 섬지역2', ['58809', '58810']],
 ['전남 신안 섬지역3', ['58816', '58818']],
 ['전남 신안 섬지역4', ['58826', '58826']],
 ['전남 신안 섬지역5', ['58832', '58832']],
 ['전남 신안 섬지역6', ['58839', '58841']],
 ['전남 신안 섬지역7', ['58843', '58866']],
 ['전남 진도 섬지역', ['58953', '58958']],
 ['전남 완도 섬지역1', ['59102', '59103']],
 ['전남 완도 섬지역2', ['59127', '59127']],
 ['전남 완도 섬지역3', ['59137', '59145']],
 ['전남 완도 섬지역4', ['59149', '59170']],
 ['전남 보성군 벌교읍 섬지역', ['59421', '59421']],
 ['전남 고흥군 섬지역1', ['59531', '59531']],
 ['전남 고흥군 섬지역2', ['59551', '59551']],
 ['전남 고흥군 섬지역3', ['59563', '59563']],
 ['전남 고흥군 섬지역4', ['59568', '59568']],
 ['전남 여수시 섬지역1', ['59650', '59650']],
 ['전남 여수시 섬지역2', ['59766', '59766']],
 ['전남 여수시 섬지역3', ['59781', '59790']]]

In [4]:
revalues = []
for row in values:
    tmp = row[0].split(' ')
    if len(tmp) == 1:
        revalues.append( [tmp[0],tmp[0], row[1][0],row[1][1]] )
    else:
        revalues.append( [' '.join(tmp[:-1]),tmp[-1], row[1][0],row[1][1]] )

revalues

[['제주도', '제주도', '63002', '63644'],
 ['제주도', '섬지역', '63000', '63001'],
 ['경기 안산시 풍도', '섬지역', '15654', '15654'],
 ['인천 강화', '섬지역', '23008', '23010'],
 ['인천 옹진', '섬지역1', '23100', '23116'],
 ['인천 옹진', '섬지역2', '23124', '23136'],
 ['충남 태안', '섬지역', '32133', '32133'],
 ['충남 보령', '섬지역', '33411', '33411'],
 ['경북 울릉도', '전지역', '40200', '40240'],
 ['경남 사천', '섬지역', '52570', '52571'],
 ['경남 통영', '섬지역1', '53031', '53033'],
 ['경남 통영', '섬지역2', '53088', '53104'],
 ['전북 군산시 옥도면', '섬지역', '54000', '54000'],
 ['전북 부안', '섬지역', '56347', '56349'],
 ['전남 영광', '섬지역', '57068', '57069'],
 ['전남 목포', '섬지역', '58760', '58761'],
 ['전남 신안', '섬지역1', '58800', '58804'],
 ['전남 신안', '섬지역2', '58809', '58810'],
 ['전남 신안', '섬지역3', '58816', '58818'],
 ['전남 신안', '섬지역4', '58826', '58826'],
 ['전남 신안', '섬지역5', '58832', '58832'],
 ['전남 신안', '섬지역6', '58839', '58841'],
 ['전남 신안', '섬지역7', '58843', '58866'],
 ['전남 진도', '섬지역', '58953', '58958'],
 ['전남 완도', '섬지역1', '59102', '59103'],
 ['전남 완도', '섬지역2', '59127', '59127'],
 ['전남 완도', '섬지역3', '59137', '59145'],
 ['전남 완도', '섬지역4', '59149', '59170'],
 ['전남 보성군 벌교읍', '섬지역', '59421', '59421'],
 ['전남 고흥군', '섬지역1', '59531', '59531'],
 ['전남 고흥군', '섬지역2', '59551', '59551'],
 ['전남 고흥군', '섬지역3', '59563', '59563'],
 ['전남 고흥군', '섬지역4', '59568', '59568'],
 ['전남 여수시', '섬지역1', '59650', '59650'],
 ['전남 여수시', '섬지역2', '59766', '59766'],
 ['전남 여수시', '섬지역3', '59781', '59790']]

In [6]:

sql = f'insert into `doso` (`location`, `area`, `start`, `end`) \nvalues \n'

for row in revalues:
    sql += f'(\'{row[0]}\', \'{row[1]}\', \'{row[2]}\', \'{row[3]}\'),\n'
sql = sql[:-2]+';'

print( sql )

insert into `doso` (`location`, `area`, `start`, `end`)
values
('제주도', '제주도', '63002', '63644'),
('제주도', '섬지역', '63000', '63001'),
('경기 안산시 풍도', '섬지역', '15654', '15654'),
('인천 강화', '섬지역', '23008', '23010'),
('인천 옹진', '섬지역1', '23100', '23116'),
('인천 옹진', '섬지역2', '23124', '23136'),
('충남 태안', '섬지역', '32133', '32133'),
('충남 보령', '섬지역', '33411', '33411'),
('경북 울릉도', '전지역', '40200', '40240'),
('경남 사천', '섬지역', '52570', '52571'),
('경남 통영', '섬지역1', '53031', '53033'),
('경남 통영', '섬지역2', '53088', '53104'),
('전북 군산시 옥도면', '섬지역', '54000', '54000'),
('전북 부안', '섬지역', '56347', '56349'),
('전남 영광', '섬지역', '57068', '57069'),
('전남 목포', '섬지역', '58760', '58761'),
('전남 신안', '섬지역1', '58800', '58804'),
('전남 신안', '섬지역2', '58809', '58810'),
('전남 신안', '섬지역3', '58816', '58818'),
('전남 신안', '섬지역4', '58826', '58826'),
('전남 신안', '섬지역5', '58832', '58832'),
('전남 신안', '섬지역6', '58839', '58841'),
('전남 신안', '섬지역7', '58843', '58866'),
('전남 진도', '섬지역', '58953', '58958'),
('전남 완도', '섬지역1', '59102', '59103'),
('전남 완도', '섬지역2', '59127', '59127'),
('전남 완도', '섬지역3', '59137', '59145'),
('전남 완도', '섬지역4', '59149', '59170'),
('전남 보성군 벌교읍', '섬지역', '59421', '59421'),
('전남 고흥군', '섬지역1', '59531', '59531'),
('전남 고흥군', '섬지역2', '59551', '59551'),
('전남 고흥군', '섬지역3', '59563', '59563'),
('전남 고흥군', '섬지역4', '59568', '59568'),
('전남 여수시', '섬지역1', '59650', '59650'),
('전남 여수시', '섬지역2', '59766', '59766'),
('전남 여수시', '섬지역3', '59781', '59790');